html {
  background-color: #f9f7f7;
  background-image: -webkit-linear-gradient(90deg, #3f72af 50%, #f9f7f7 50%);
  min-height: 100vh;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #3f72af;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #3f72af;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #112d4e;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

form.item:last-child {
  border-bottom: 0;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3f72af;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 413px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #112d4e;
}

::placeholder {
  color: lightgrey;
  opacity: 0.8;
}

footer {
  margin: 2em 0;
  color: #112d4e;
  text-align: center;
}
